#central-container {
  min-width: 30em;
  min-height: 20em;
  width: 70vw;
  height: 60vh;
  max-width: 60em;
  max-height: 50em;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34,36,38,.15);
}