#events {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#events > .cards {
  flex: 1 1;
  margin: 10px;
  height: 100%;
  box-sizing:border-box;
  overflow: auto;
}

#events > .cards > .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#events > .cards > .card-container > .card {
  margin: 0.25em;
  flex: 1 1;
  min-width: 10em;
}

#events > .actions {
  min-height: 3em;
  /* border-top: 1px solid rgb(196, 196, 196); */
  flex: 0 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.8em;
}